.game {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
//   justify-content: space-between;
  justify-content: flex-end;
  overflow: hidden;

  background-image: var(--game-bg);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}
