.final {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../assets/images/final.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &.final--dynamic {
    background-position: top;
    background-size: 100% auto;
  }
}

.final__image_spacer {
  flex-grow: 1;
  min-height: 15vh;
}

.final__card {
  width: 100%;
  max-height: calc((100vh - var(--tg-content-safe-area-inset-top, 0px) - var(--tg-safe-area-inset-top, 0px)) * 0.55);
  background-color: #ecf1fc;
  border-radius: 46px 46px 0 0;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: calc(
    var(--tg-content-safe-area-inset-bottom, 0px) +
      var(--tg-safe-area-inset-bottom, 0px) + 30px
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 4;

  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.final__card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.final__card_label {
  font-family: "MTSWideMedium";
  font-size: 14px;
  line-height: 18px;
  color: #00000099;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4px;
}

.final__card_genre {
  font-family: "MTSUltraExtendedBold";
  font-size: 22px;
  line-height: 26px;
  color: #ff0032;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4px;
}

.final__card_title {
  font-family: "MTSWideMedium";
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 16px;
}

.final__card_desc {
  font-family: "MTSTextRegular";
  font-size: 14px;
  line-height: 18px;
  color: #000000b2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.final__card_buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-top: 10px;
  flex-shrink: 0;
}

.final__card_buttons_row {
  display: flex;
  gap: 12px;
  width: 100%;

  & > button {
    flex: 1;
  }
}

@media (max-height: 700px) {
  .final__card {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: calc(
      var(--tg-content-safe-area-inset-bottom, 0px) +
        var(--tg-safe-area-inset-bottom, 0px) + 16px
    );
    gap: 12px;
  }

  .final__card_genre {
    font-size: 20px;
    line-height: 24px;
  }

  .final__card_title {
    margin-bottom: 10px;
  }

  .final__card_desc {
    font-size: 13px;
    line-height: 16px;
  }
}
